<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <ul class="list-container">
            <% for(let i of contact_list) {%>
                <div>
                <li>
                    
                    <div>
                      
                        <a href="/delete-contact/?id=<%=i._id%>">
                            <i class="far fa-times-circle"></i>
                        </a>
                       Name:&nbsp;<%=i.name%>
                    </div>
                    <div>Phone:&nbsp;<%=i.phone%></div>
                    <div>Email:&nbsp;<%=i.email%></div>
                </li>
                <% } %>
        </ul>
    </div>
    </body>
</html>